@tailwind base;

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #5d5d5d;
  border-radius: 14px;
}

@tailwind components;
@tailwind utilities;

.CodeMirror {
  height: 91% !important;
  font-size: 1.125rem !important;
}
